@use 'sass:map';
@use 'variables';
@use '../styles/functions';
@use '../styles/fonts';

*,
body {
  margin: 0;
  font-family: variables.$fontFamily;
  box-sizing: border-box;
  color: variables.$colorSolidWhite;
  line-height: 1.7em;

  &:focus-visible {
    outline: variables.$colorGeoGreen solid medium;
    border-radius: variables.$borderRadius;
  }
}

body {
  background: variables.$color1 linear-gradient(#0e1113, variables.$color1);
  overflow-x: hidden;
}

::selection {
  background: variables.$colorGeoGreen;
  color: variables.$colorSolidWhite;
}

a {
  & > svg {
    fill: variables.$colorSolidWhite;
  }
}

input {
  background-color: #d9d9d9;
  border: 1px solid #14231f;
  border-radius: variables.$borderRadius;
  cursor: text;
  font-family: 'Gilroy', 'sans-serif';
  font-style: normal;
  font-weight: variables.$fwRegular;
  font-size: 14px;
  line-height: 38px;
  height: 36px;
  padding: 0 16px;
  color: variables.$colorGeoGray;

  &::placeholder {
    color: #c2c2c2;
  }

  @media (min-width: map.get(variables.$newBreakpoints, 'tablet')) {
    line-height: 165%;
    height: 60px;
    padding: 0 32px;
  }

  @media (min-width: map.get(variables.$newBreakpoints, 'desktop2')) {
    font-size: 22px;
    height: 100px;
    padding: 0 46px;
  }
}


