@use 'sass:map';
@use '../../../../styles/variables';
@use '../../../../styles/functions';

.container {
  width: 100%;
  background: variables.$color1;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .iconWrapper {
      display: flex;
      align-items: center;
      padding-bottom: functions.map-deep-get(variables.$margins, 'mobile', 3);

      @media (min-width: map-get(variables.$newBreakpoints, 'tablet')) {
        padding-bottom: functions.map-deep-get(variables.$margins, 'tablet', 3);
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop1')) {
        padding-bottom: functions.map-deep-get(variables.$margins, 'desktop1', 3);
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop2')) {
        padding-bottom: functions.map-deep-get(variables.$margins, 'desktop2', 4);
      }

      .icon {
        width: 82px;
        height: 82px;

        @media (min-width: map.get(variables.$newBreakpoints, 'tablet')) {
          width: 96px;
          height: 96px;
        }

        @media (min-width: map.get(variables.$newBreakpoints, 'desktop2')) {
          width: 114px;
          height: 114px;
        }
      }
    }

    .titleWrapper {
      padding-bottom: functions.map-deep-get(variables.$margins, 'mobile', 5);

      @media (min-width: map-get(variables.$newBreakpoints, 'tablet')) {
        padding-bottom: functions.map-deep-get(variables.$margins, 'tablet', 5);
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop1')) {
        padding-bottom: functions.map-deep-get(variables.$margins, 'desktop1', 5);
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop2')) {
        padding-bottom: functions.map-deep-get(variables.$margins, 'desktop2', 6);
      }

      .title {
        margin-bottom: 0;
        text-align: center;
      }
    }

    .paymentId, .secondaryInfoWrapper {
      text-align: center;
      margin-bottom: functions.map-deep-get(variables.$margins, 'mobile', 3);
      line-height: 110%;
      color: variables.$colorGeoGray;

      @media (min-width: map-get(variables.$newBreakpoints, 'tablet')) {
        margin-bottom: functions.map-deep-get(variables.$margins, 'tablet', 3);
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop1')) {
        margin-bottom: functions.map-deep-get(variables.$margins, 'desktop1', 3);
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop2')) {
        margin-bottom: functions.map-deep-get(variables.$margins, 'desktop2', 4);
      }
    }

    .paymentId {
      font-size: 14px;

      @media (min-width: map-get(variables.$newBreakpoints, 'tablet')) {
        font-size: 16px;
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop2')) {
        font-size: 20px;
      }
    }

    .secondaryInfoWrapper {
      max-height: 300px;
      overflow-y: auto;

      @media (min-width: map-get(variables.$newBreakpoints, 'tablet')) {
        max-height: 200px;
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop1')) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 590px;
      }

      .text {
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: variables.$fwRegular;
        font-size: 12px;
        color: variables.$colorGeoGray;

        @media (min-width: map-get(variables.$newBreakpoints, 'tablet')) {
          font-size: 14px;
        }

        @media (min-width: map-get(variables.$newBreakpoints, 'desktop2')) {
          font-size: 16px;
        }
      }
    }

    .button {
      margin-top: functions.map-deep-get(variables.$margins, 'mobile', 3);

      @media (min-width: map-get(variables.$newBreakpoints, 'tablet')) {
        margin-top: functions.map-deep-get(variables.$margins, 'tablet', 3);
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop1')) {
        margin-top: functions.map-deep-get(variables.$margins, 'desktop1', 3);
      }

      @media (min-width: map-get(variables.$newBreakpoints, 'desktop2')) {
        margin-top: functions.map-deep-get(variables.$margins, 'desktop2', 4);
      }
    }
  }

}
